:root {
    --button-color: #1c6aae;
    --dashboard-title-color: rgb(3, 3, 93);
    --button-text: white;
    --text-color: rgb(42, 42, 75);
    --options-text: navy;
    --options-icon: rgb(32, 131, 170);
    --table-header-color: rgb(224, 224, 224);
    --box-shadow-color: rgb(126, 144, 150);
    --text-color: aliceblue;
    --hover-bg-color: rgba(15, 79, 116, 0.744);
    --hover-text-color: rgb(170, 184, 197);
    --card-title-color: navy;
    --validation-color: red;

    /*Header BGcolor*/
    --header-bgcolor: linear-gradient(to right, #142737, #154f82);

    /*Mat Pop-up colours*/
    --mat-popup-bgcolor: #fff;
    --mat-key-color: #154f82;
    --mat-value-color: black;
    --mat-header-color: white;
    --mat-border-color: black;
    --mat-primay-color: navy;
    --mat-accent-color: orange;

    --dialog-body-key-color: #515354
}