/* session-view.component.scss */
@import url(/src/assets/styles/variables.scss);

$font: 'Times New Roman', Times, serif;

.dialog-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: $font!important;
  background-color: var(--mat-popup-bgcolor);
  border-radius: 0px;
  position: relative;
  height: auto;
  overflow: hidden;
}

.cdk-overlay-container, .cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 0%!important;
  width: 100%;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  color: var(--mat-header-color);
}

.dialog-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color:var(--mat-header-color);
  text-align: center;
  padding-top: 0.9375rem;
}

.info-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: var(--mat-key-color);
}

.info-label {
  flex: 0 0 9.375rem;
  font-weight: bold;
  margin-right: 10px;
}

.info-value {
  flex: 1;
  color:var(--mat-value-color);
}

.box{
  margin: 1.25rem;
  width: auto;
  height: auto;
  border: 1px solid var(--mat-border-color);
  margin-left: -1px;
  margin-top: -7px;
  padding-left: 5px;
}

.dialog-actions {
  margin-top: 20px;
}

.dialog-content {
  width: 100%;
  height: vh-100;
  padding-left: 0.9375rem;
  padding-top: 10px;
}

.header {
  align-items: start;
  background: var(--header-bgcolor);
}
